
@{
    ViewBag.Title = "ProfilePic";
}

<div class="container-fluid" >
    <h3>Change Profile Pic</h3>
    <h6>For best results, resize image to 640X640 before uploading.</h6>

    @using (Html.BeginForm("Upload", "Couple", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            <input type="file" name="File" class="form-control" />
            <input type="submit" value="Set Profile Pic" class="btn btn-link" />
        </p>
    }
</div>
