@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img src="~/Images/rnd.png" width="100%" /></div>
        <div class="col-md-3"></div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img src="~/Images/rnd.png" width="100%" /></div>
        <div class="col-md-3"></div>
        <div class="col-md-12"><h3 style="color:deeppink">Make your next night out a night to remember!</h3></div>
        <p style="color:#E7DFDD" class="col-md-12">
            Whether you are new to town or just looking to meet new people, Table For Four makes meeting new couples
            easier. Simply browse through pictures of other couples and decide who you might enjoy meeting. Click on a couple
            to get a little more information about them. If they feel the
            same way about you, you'll get a text telling you about the match and offering up some restaurants located between you.
            You'll also be able to send messages within the app so you can start planning your Table For Four date!
        </p>
        <p style="color:#E7DFDD" class="col-md-12">
            Even if you don't end up as new best friends, you're guaranteed to have a night that's more memorable than your usual
            dinner out.
        </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Register", "Account")" class="btn btn-info btn-lg">
                    Sign up now!
                </a>
            </div>
        </div>

    </div>
}
