@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6"style="text-align:center"><img src="~/Images/rnd.png" width="100%" /></div>
        <div class="col-md-3"></div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="col-md-12" style="text-align:center"><h2 style="color:deeppink">Browse. Match. Meet.</h2></div>
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:center"><img src="~/Images/rnd.png" width="100%" /></div>
        <div class="col-md-3"></div>
        <div class="col-md-12" style="text-align:center"><h4 style="color:deeppink">Make your next night out, a night to remember!</h4></div>
        <p style="color:#E7DFDD" class="col-md-12">
            Whether you are new to town or just looking to meet new people, Table For Four makes meeting new couples
            easier. Simply browse through pictures of other couples, clicking on couples to get a little more information about 
            them. Then you give them the thumbs up or thumbs down. If they feel the
            same way about you, you'll get a text telling you about the match and offering up some restaurants located between you.
            You'll also be able to send messages within the app so you can start planning your Table For Four date!
        </p>
        <p style="color:#E7DFDD" class="col-md-12">
            Having positive relationships is just as important to your health as excercise and eating well.
            Even if you don't end up as best friends, you're guaranteed to have a night that's more memorable than your usual. 
            Why waste another evening on take out and tv?
        </p>
        
            <div class="col-md-12" style="text-align:center">
                <a href="@Url.Action("Register", "Account")" class="btn btn-block btn-lg">
                    Sign up now!
                </a>
            </div>
        
    </div>
}
